/*************** THIS IS AN AUTOMATICALLY COMPILED CSS FILE ***************/
/*****/
/*************** DO NOT MAKE CHANGES HERE ***************/
/*****/
/*****/
/*****/
/*****/






.box {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* useful if you don't want a bg color from leaking outside the border: */

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #eee;
}
.box p {
  margin: 0;
}
.success_box {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* useful if you don't want a bg color from leaking outside the border: */

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #eee;
  color: #468847;
  background-color: #aff0a8;
  border-color: #b6f9a6;
}
.success_box p {
  margin: 0;
}
body {
  background-image: url('/static/background_nasa_1600_black50_blur.jpg');
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
}
div#content #statements, footer {
  background-color: rgba(255, 255, 255, 0.9);
}
div#content div#statements {
  -moz-border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 1em;
}
footer {
  padding: 1em;
}
footer a#pipeline_logo img {
  display: block;
  width: 50px;
  position: relative;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
footer .nine.columns {
  padding-left: 0;
}
div#site_header.panel {
  -moz-border-bottom-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 1em;
  border: 0;
  padding: 2em;
  margin-bottom: 1em;
  background-image: url('/static/logo_large_fade.png');
  background-repeat: no-repeat;
  background-position: right 20px;
}
div#site_header.panel h1 {
  margin-top: 0;
}
div#site_header.panel h2 {
  font-size: 1.7em;
}
div#site_header.panel p {
  margin-bottom: 0;
}
#side_bar {
  padding-right: 0;
}
#side_bar h3 {
  font-size: 1.3em;
  margin-top: 0;
}
#side_bar div.row {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 0;
  font-style: normal;
}
#side_bar div.row .columns {
  padding: 0;
  margin: 0;
}
#side_bar div.row .side_block.columns {
  padding: 1em 15px;
}
#side_bar div.row div.box_widget {
  /*.rounded(6px);*/

  border-top: 1px double #bbb;
  background-color: #eee ;
  /*#5BAFBA*/

}
#side_bar div.row div.box_widget #reg_button {
  display: block;
  margin-left: 0;
  margin-right: auto;
  cursor: hand;
}
#side_bar div.row div#facts_slider div.fact_statement {
  /*background-color: #fff;*/

  left: -295px;
  /* start with all of them slid off because otherwise a bug
							causes them to overlay */

}
#side_bar div.row div#facts_slider div.fact_statement p {
  font-style: italic;
  padding: 1em;
  padding-top: 50px;
  /* account for the timer */

}
#side_bar ul#top_candidates {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#side_bar ul#top_candidates li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#side_bar div.side_block.highlight_post {
  background-color: #eee;
  border-top: 1px double #bbb;
  border-bottom: 1px double #bbb;
}
#side_bar div.side_block.highlight_post .highlight_stamp {
  color: #666;
  font-size: .75em;
  text-align: right;
  margin: 0;
}
#side_bar div.side_block#top_item {
  padding-top: 1em;
}
#side_bar div.side_block.stats_box {
  font-style: normal;
  padding: 1em;
  text-align: center;
}
#side_bar div.side_block.stats_box span#num_pledges {
  display: block;
  width: 100%;
  font-size: 2em;
  font-weight: bold;
}
#side_bar div.side_block.stats_box #pledge_stats {
  margin-bottom: 0;
}
div#statements div.statement {
  margin-bottom: 1em;
}
div#statements div.statement p.sig_para {
  margin-bottom: 0;
}
span.icon_sprite, li.icon_sprite {
  background-image: url('/static/icon_sprite.png');
  background-repeat: no-repeat;
  height: 16px !important;
  width: 16px !important;
  display: block;
  position: relative;
  float: left;
}
.sprite-image_add {
  background-position: 0 0;
}
.sprite-textfield_add {
  background-position: 0 -41px;
}
.sprite-permalink {
  background-position: -41px 0;
}
.sprite-gplus {
  background-position: -41px -41px;
}
.sprite-twitter {
  background-position: 0 -16px;
}
.sprite-fb {
  background-position: -41px -16px;
}
ul.iconset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul.iconset li.icon_sprite {
  padding: 0;
  margin: 3px 3px;
}
ul.iconset li.icon_sprite a {
  display: block;
  width: 100%;
  height: 100%;
}
form#publisher {
  background-color: #2284a1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2284a1), to(#10243a));
  /* Safari 4+, Chrome */

  background-image: -webkit-linear-gradient(top, #2284a1, #10243a);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #2284a1, #10243a);
  /* Firefox 3.6-15 */

  background-image: -o-linear-gradient(top, #2284a1, #10243a);
  /* Opera 11.10-12.00 */

  background-image: linear-gradient(to bottom, #2284a1, #10243a);
  /* Firefox 16+, IE10, Opera 12.50+ */

  box-shadow: 2px 2px 4px #333;
  padding: .5em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  /* useful if you don't want a bg color from leaking outside the border: */

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 1em;
}
form#publisher h3 {
  margin-top: 0;
  font-size: 1.4em;
}
form#publisher .error_box {
  display: none;
  padding: 1em;
  margin: .5em;
  border: 1px solid #bd362f;
}
form#publisher .row {
  margin-bottom: 1em;
}
form#publisher fieldset#statement {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  /* useful if you don't want a bg color from leaking outside the border: */

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 1em;
  border: 0;
  padding: 0 .5em;
  margin: 0;
}
form#publisher fieldset#statement p {
  font-size: 18pt;
  text-shadow: 1px 1px #555;
}
form#publisher fieldset#statement span.maintext {
  position: relative;
  float: left;
  display: inline;
}
form#publisher fieldset#statement input.text_input, form#publisher fieldset#statement select, form#publisher fieldset#statement textarea {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* useful if you don't want a bg color from leaking outside the border: */

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 1em;
  font-size: 18pt;
  border: 1px solid #666;
  margin: 0 0 0 0;
  background-color: #eee;
  outline: 0;
  padding: 5px;
}
form#publisher fieldset#statement input#candidate {
  margin-left: 1em;
}
form#publisher fieldset#statement select {
  margin-right: 4em;
  margin-left: 0;
  padding-right: 0em;
}
form#publisher fieldset#statement label.hide_label {
  display: none;
}
form#publisher fieldset#statement label {
  color: #222;
  font-weight: bold;
  font-size: 1.1em;
}
form#publisher fieldset#statement #statement_text_row {
  margin-bottom: .5em;
}
form#publisher fieldset#statement div#statement_media_additions {
  margin-top: 1em;
  margin-bottom: 0;
}
form#publisher fieldset#statement div#statement_media_additions label {
  color: #bbb;
}
form#publisher fieldset#statement div#statement_media_additions h6#add_head {
  margin-top: 0;
  font-size: 1.2em;
  margin-bottom: .5em;
}
form#publisher fieldset#statement div#statement_media_additions div.row#additions_row {
  margin-bottom: 0;
}
form#publisher fieldset#statement div#statement_media_additions ul#add_items {
  list-style-type: none;
  display: block;
  text-align: center;
  /*border-bottom: 2px groove #2284A1;*/

  width: 100%;
}
form#publisher fieldset#statement div#statement_media_additions ul#add_items li {
  margin: 0;
}
form#publisher fieldset#statement div#statement_media_additions ul#add_items li a {
  display: block;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* useful if you don't want a bg color from leaking outside the border: */

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 1em;
  width: 100%;
  height: 100%;
}
form#publisher fieldset#statement div#statement_media_additions ul#add_items li a.selected {
  background-color: rgba(50, 50, 50, 0.5);
  color: #ccc;
  text-shadow: 1px 1px #666;
}
form#publisher fieldset#statement div#statement_media_additions ul#add_items li.three.columns {
  margin: 0;
}
form#publisher fieldset#statement div#statement_media_additions div#image_addition_container {
  display: none;
}
form#publisher input#publish_button {
  width: 100%;
}
div.new_insert {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* useful if you don't want a bg color from leaking outside the border: */

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 1em;
  background-color: #C7E699;
  display: none;
  margin-bottom: 1em;
}
#image_filedrop {
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
  background-color: #25424F;
}
/* Essential FileDrop element configuration: */
.fd-zone {
  position: relative;
  overflow: hidden;
  width: 15em;
  text-align: center;
}
/* Hides <input type="file" /> while simulating "Browse" button: */
.fd-file {
  opacity: 0;
  font-size: 118px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  padding: 0;
  margin: 0;
  cursor: pointer;
  filter: alpha(opacity=0);
  font-family: sans-serif;
}
#image_filedrop.drag_enter {
  border: 4px solid black;
}
div#action_box {
  display: none;
}
.ui-widget-content a, .ui-overlay a:link {
  color: #003399;
}
div#unimplemented_msg {
  display: none;
}
div#website_row {
  display: none;
}
