.rounded(@rad:4px){
  -moz-border-radius: @rad;
  -webkit-border-radius: @rad;
  border-radius: @rad;

  padding:1em;
}


#side_bar div.row{

	padding-left:1em;
	font-style:normal;

	div.box_widget{
		.rounded(6px);

		background-color: #ccc ; /*#5BAFBA*/

	  	h3{
			margin-top:0;
		}

		#reg_button{
			display:block;
			margin-left:0;
			margin-right:auto;

			cursor:hand;
		}
	}

	div#facts_slider div.fact_statement{
		background-color: #fff;

		p{
			font-style:italic;
			padding:1em;
			padding-top: 50px; /* account for the timer */
		}
	}
}

form#publisher{
	fieldset#statement{
		p{
			font-size:18pt;
		}

		span.maintext{
			position:relative;
			float: left;
			display: inline;
		}

		input, select{
		  	font-size:18pt;
			border:0;
			border-bottom:1px solid black;
			margin: -5px .5em 0 .5em;
		 	background-color: #eee;
		  	outline: 0;
		  	padding-left: 3px;
		  	padding-right: 3px;
		}

		select{
		  margin-right:4em;
		  margin-left: 0;
		  padding-right:0em;
		}

		label.hide_label{
			display: none;
		}

		div.below_float{
			position: relative;
			float: left;
			clear: left;
		}

		div#statement_media_additions{

		  	margin-top:1em;

			ul#add_items{
				list-style-type:none;

				li{
					position:relative;
					float:left;
					padding:0 1em;


					a.selected{
						.rounded;
						background-color: #444;
						padding:2px 1em;
						color: #ccc;
						text-shadow: 1px 1px #666;

					}
				}
		 	}
		}
	}

}