/*************** THIS IS AN AUTOMATICALLY COMPILED CSS FILE ***************/
/*****/
/*************** DO NOT MAKE CHANGES HERE ***************/
/*****/
/*****/
/*****/
/*****/






#side_bar div.row {
  padding-left: 1em;
  font-style: normal;
}
#side_bar div.row div.box_widget {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 1em;
  background-color: #ccc ;
  /*#5BAFBA*/

}
#side_bar div.row div.box_widget h3 {
  margin-top: 0;
}
#side_bar div.row div.box_widget #reg_button {
  display: block;
  margin-left: 0;
  margin-right: auto;
  cursor: hand;
}
#side_bar div.row div#facts_slider div.fact_statement {
  background-color: #fff;
}
#side_bar div.row div#facts_slider div.fact_statement p {
  font-style: italic;
  padding: 1em;
  padding-top: 50px;
  /* account for the timer */

}
form#publisher fieldset#statement p {
  font-size: 18pt;
}
form#publisher fieldset#statement span.maintext {
  position: relative;
  float: left;
  display: inline;
}
form#publisher fieldset#statement input, form#publisher fieldset#statement select {
  font-size: 18pt;
  border: 0;
  border-bottom: 1px solid black;
  margin: -5px 0.5em 0 0.5em;
  background-color: #eee;
  outline: 0;
  padding-left: 3px;
  padding-right: 3px;
}
form#publisher fieldset#statement select {
  margin-right: 4em;
  margin-left: 0;
  padding-right: 0em;
}
form#publisher fieldset#statement label.hide_label {
  display: none;
}
form#publisher fieldset#statement div.below_float {
  position: relative;
  float: left;
  clear: left;
}
form#publisher fieldset#statement div#statement_media_additions {
  margin-top: 1em;
}
form#publisher fieldset#statement div#statement_media_additions ul#add_items {
  list-style-type: none;
}
form#publisher fieldset#statement div#statement_media_additions ul#add_items li {
  position: relative;
  float: left;
  padding: 0 1em;
}
form#publisher fieldset#statement div#statement_media_additions ul#add_items li a.selected {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 1em;
  background-color: #444;
  padding: 2px 1em;
  color: #ccc;
  text-shadow: 1px 1px #666;
}
